name: Build and Push Docker Image to GHCR

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout your code
      - name: Checkout Code
        uses: actions/checkout@v3

      # Login to GitHub Container Registry
      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      # Build Docker image
      - name: Build Docker Image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/kushi-docker:latest .

      # Push Docker image
      - name: Push Docker Image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/kushi-docker:latest
